In [6]:
import pandas as pd
import numpy as np

In [7]:
election = pd.read_csv("C:/Users/Owner/Desktop/STARTER_CODE/PyPoll/Resources/election_data.csv")
election.head()

   Ballot ID     County                Candidate
0    1323913  Jefferson  Charles Casper Stockham
1    1005842  Jefferson  Charles Casper Stockham
2    1880345  Jefferson  Charles Casper Stockham
3    1600337  Jefferson  Charles Casper Stockham
4    1835994  Jefferson  Charles Casper Stockham

In [9]:
df = pd.DataFrame(election)
df

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

In [10]:
total_votes = len(df['Ballot ID'])

print(total_votes)

369711

In [11]:
candidates = df.groupby(['Candidate']).nunique()
candidates

                         Ballot ID  County
Candidate
Charles Casper Stockham      85213       3
Diana DeGette               272892       3
Raymon Anthony Doane         11606       3

In [12]:
Charles_votes = len(df[(df['Candidate']=='Charles Casper Stockham')])

print(Charles_votes)

85213

In [13]:
Diana_votes = len(df[(df['Candidate']=='Diana DeGette')])

print(Diana_votes)

272892

In [14]:
Raymon_votes = len(df[(df['Candidate']=='Raymon Anthony Doane')])

print(Raymon_votes)

11606