In [7]:
import pandas as pd
import numpy as np

budget = pd.read_csv("C:/Users/Owner/Desktop/STARTER_CODE/PyBank/Resources/budget_data.csv")
budget.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [8]:
df = pd.DataFrame(budget)
df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [10]:
total_months = len(df['Date'])

print(total_months)

86

In [15]:
total_amount = df['Profit/Losses'].sum()

print(total_amount)

22564198

In [16]:
average_change = total_amount/total_months

print(average_change)

262374.3953488372

In [17]:
greatest_increase = df['Profit/Losses'].max()

print(greatest_increase)

1141840

In [19]:
greatest_decrease = df['Profit/Losses'].min()

print(greatest_decrease)

-1194133